<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{if .Subtitle}}{{.Subtitle}}: {{end}}{{.Title}}</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Font Awsome -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Luckdrum -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body> <!-- If the sign-in or login page is displayed the body tag needs defined style tag with an background-image eg. style="background-image: url(https://farm4.staticflickr.com/3919/14613145488_50c3d4404e_o_d.jpg);" -->
    {{ if .Analytics}}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{.Analytics}}', 'auto');
        ga('send', 'pageview');
    </script>
    {{ end }}
    <nav class="navbar navbar-fixed-top">
         <div class="container">
            <div class="navbar-header">
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#"><span class="luckdrum">LuckDrum</span></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href=""><i class="fa fa-home"></i> Home</a></li>
                    <li><a href=""><i class="fa fa-pencil"></i> Write a message</a></li>
                    <li><a href=""><i class="fa fa-book"></i> Contacts</a></li>
                 </ul>
                 <ul class="nav pull-right">
                    <form class="navbar-form navbar-right">
                        <li><input type="text" name="" placeholder="Search ..." class="small-input"></li>
                    </form>
                 </ul>
            </div><!--/.nav-collapse -->
         </div>
    </nav>
    {{template "content" .}}
    <footer>
        <div class="container">&copy; Luckdrum 2015</div>
    </footer>
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    <script src="app.js"></script>
</body>
