{{define "content"}}
	<form method="post" class="form">
		<input type="hidden" name="type_id" value="{{.TypeId}}">
		
		<h2>Pick category</h2>
		{{range $item := .MessageTypes}}
			<label><input type="checkbox" name="category[]" value="{{$item.ID}}"> {{$item.Title}}</label>
		{{end}}
		<h2>Describe what you want</h2>
		<div class="form-group">
			<label class="sr-only" for="headline">Headline</label>
			<input class="form-control" type="text" name="headline" placeholder="Enter headline here" />
		</div>
		<div class="form-group">
			<label class="sr-only" for="description">Description</label>
			<textarea class="form-control" id="description" name="description"></textarea>
		</div>
		<div class="form-group">
			<label class="sr-only" for="location">Location</label>
			<input class="form-control" id="description" type="text" name="location" placeholder="Location" />
		</div>
		<div class="form-group">
			<label class="sr-only" for="photo">Photo</label>
			<input class="form-control" id="photo" type="file" name="photo" />
		</div>
		<button class="btn btn-primary" type="submit">Preview your message</button>
	</form>
{{end}}