{{define "content"}}
		<div class="container">
			{{template "ld-info" .}}
			<div class="col-md-9 choose-opt">
				<h1>What do you search for?</h1>
				<li><a href=""><i class="fa fa-pencil"></i>Send messages to your community</a></li>
				<li><a href=""><i class="fa fa-envelope-o"></i>Receive messages about everything your crazy about</a></li>
				<li><a href=""><i class="fa fa-building-o"></i>Broadcast work offers</a></li>
				<li><a href=""><i class="fa fa-heart-o"></i>Make love connections</a></li>
				<li><a href=""><i class="fa fa-trophy"></i>Announce my event</a></li>
				<li><a href=""><i class="fa fa-bullhorn"></i>Advertise</a></li>
				<li><a href=""><i class="fa fa-home"></i>Find roommates</a></li>
				<li><a href=""><i class="fa fa-briefcase"></i>Find business/project partners</a></li>
				<li><a href=""><i class="fa fa-user-plus"></i>Meet new people and prospects</a></li>
				<li><a href=""><i class="fa fa-thumbs-o-up"></i>Promote my work</a></li>
				<li><a href=""><i class="fa fa-money"></i>Sell your personal items</a></li>
				<li><a href=""><i class="fa fa-video-camera"></i>Share your favorite videos</a></li>
				<li><a href=""><i class="fa fa-camera-retro"></i>Share your photos</a></li>
				<li><a href=""><i class="fa fa-desktop"></i>Sahre your favorite products</a></li>
				<li><a href=""><i class="fa fa-retweet"></i>Trade shomething</a></li>
			</div>
		</div>
{{end}}
