{{define "content"}}
		<div class="container">
			{{template "login-head" .}}
			<div class="login-container col-md-3">
				<h3>Log in</h3>	
				<form method="post">
					<input type="text" placeholder="Email" class="full-width">	
					<input type="password" placeholder="Password" class="full-width">	
					<input type="submit" value="Enter" class="full-width">
				<form>
				<p>You don't have an account?<br><a href="">Sign up</a> now!</p>
				<p>Lost your password?<br><a href="">Order</a> a new one!</p>
			</div>
			<div class="col-md-4 login-fill">
				
			</div>
			<div class="col-md-4 login-fill">
				
			</div>
		</div>
{{end}}
