@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
.transition-below, input[type=submit], .input-submit, .follow, .card .read-more, .choose-opt li, .luckdrum, nav.nav-left a {
  transition: all 0.5s cubic-bezier(0.61, 0, 0.49, 1) 0s; }

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  color: #333;
  font-weight: 400;
  background-color: #FFF; }

a {
  color: #EA6C6C;
  text-decoration: none; }

a:hover {
  color: #d21e1e;
  text-decoration: underline; }

a:active {
  color: #791111;
  text-decoration: underline; }

input[type=text], input[type=email], input[type=url], input[type=password], input[type=date], input[type=file], textarea {
  background-color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #333;
  border: 1px solid #b3b3b3;
  border-radius: 0px;
  margin-bottom: 10px;
  outline: none;
  padding: 8px 12px;
  box-shadow: inset 0px 1px 1px rgba(51, 51, 51, 0.2); }

input[type=submit], .input-submit, .follow, .card .read-more {
  background-color: #EA6C6C;
  border: 1px solid #a51818;
  border-radius: 1px;
  color: #fff;
  font-size: 15px;
  padding: 5px;
  outline: none !important;
  margin-bottom: 10px;
  text-decoration: none !important; }

input[type=submit]:hover, .input-submit:hover, .follow:hover, .card .read-more:hover {
  background-color: #e75656;
  border: 1px solid #791111;
  border-radius: 1px;
  color: #fff;
  font-size: 15px;
  padding: 5px; }

input[type=radio] {
  height: 15px;
  width: 15px; }

label {
  font-weight: 600;
  font-size: 15px;
  color: #333;
  display: block; }

.input-style:focus, input[type=text]:focus, input[type=email]:focus, input[type=url]:focus, input[type=password]:focus, input[type=date]:focus, input[type=file]:focus, textarea:focus {
  background-color: #FFF;
  box-shadow: outset 0px 0px 5px rgba(234, 108, 108, 0.5);
  color: #EA6C6C; }

.small-input {
  padding: 4px 6px;
  font-size: 15px; }

.text-x {
  height: 200px; }

.container {
  padding-top: 50px;
  width: 100%; }

.ld-sidebar p {
  font-size: 17px;
  text-align: center; }

.ld-sidebar h1 {
  text-align: center; }

.choose-opt li {
  list-style: none !important;
  font-size: 16px;
  padding: 3px; }

.choose-opt li:hover {
  font-size: 20px;
  padding: 1px; }

.choose-opt li i {
  padding-right: 5px; }

nav .container {
  padding-top: 0px; }

.full-width {
  width: 800px;
  display: block; }

.half-width {
  width: 400px;
  display: block; }

input[type=file].half-width {
  width: 320px;
  display: block; }

.box-shadow, .login-container {
  box-shadow: 0px 0px 5px rgba(234, 108, 108, 0.5) inset; }

body.start-body {
  background: url() no-repeat fixed center center/cover transparent; }

body.start-body p.desc, h1.welcome, .login-fill h1 {
  color: #fff;
  text-align: center; }

body.start-body p.desc {
  font-size: 20px; }

h1.welcome {
  font-size: 50px; }

.luckdrum {
  color: #EA6C6C;
  cursor: pointer; }

.badge {
  background-color: #EA6C6C; }

.luckdrum:hover {
  transform: rotate(360deg);
  font-size: 110%; }

.login-container {
  padding-bottom: 10px;
  display: block;
  background-color: #FFF;
  border: 1.5px solid rgba(234, 108, 108, 0.5);
  border-radius: 4px; }

.login-fill {
  border: none;
  background-color: transparent !important; }

.login-fill h1 {
  font-size: 30px; }

body.start-body footer {
  color: #fff; }

nav.nav-left {
  margin-top: 6%; }

nav.nav-left a {
  transition-duration: 0.3s;
  display: inline-block;
  width: 33.33333332%;
  float: left;
  height: 100px;
  text-align: center;
  padding: 3px;
  text-decoration: none !important; }

nav.nav-left a:hover {
  background-color: #fdf2f2; }

nav.nav-left i {
  display: block;
  font-size: 25px;
  text-align: center; }

nav.nav-left span {
  font-size: 15px;
  text-align: center;
  width: 100%; }

nav.navbar {
  background-color: #FFF;
  margin-bottom: 40px; }

.navbar-toggle {
  color: #EA6C6C;
  font-size: 20px; }

.nav > li > a:focus, .nav > li > a:hover {
  background-color: #FFF; }

.navbar-form input {
  margin: 0px !important; }

.card-row {
  padding: 20px;
  background: #FFF; }

.card .card-img {
  margin: auto 0px; }

.card h2 {
  font-size: 25px;
  color: #EA6C6C; }

.card-info img {
  float: left;
  margin-right: 20px; }

.card-info {
  font-size: 17px; }

.card-info p {
  font-size: 15px; }

.follow {
  font-size: 15px;
  margin-top: 10px;
  display: inline-block; }

.card {
  margin-bottom: 70px; }

.card .read-more {
  font-size: 13px !important;
  display: inline-block;
  margin-bottom: 10px; }

.sidebar-profil {
  padding: 20px;
  font-size: 18px; }

.sidebar-profil p {
  font-size: 15px; }

.tt-menu {
  width: 100%;
  background-color: #FFF;
  border: 1px solid lighter(#EA6C6C, 30%) !important;
  padding: 2px; }

.tt-suggestion {
  padding: 2px;
  padding-left: 12px; }

/*# sourceMappingURL=style.css.map */
